:root {
    --teal1: #b6e3dd;
    --teal11: hsl(172, 44.6%, 80.2%);
    --teal2: #c9eaea;
    --teal22: hsl(180, 44%, 85.3%);
    --teal3: #95bcc9;
    --teal33: hsl(195, 32.5%, 68.6%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --body-bg: hsl(42.9, 53.8%, 94.9%);
    --orange: hsl(37.1, 100%, 70.2%);
    --green: hsl(159.4, 42.9%, 53.3%);
    --red: hsl(10.7, 100%, 70.2%);
    --2px-black-border: 2px solid var(--black);
    --10px-box-shadow: 10px 10px 0 0 #000;
    --mobile-padding: 16px;
    --desktop-padding: 32px;
    --card-bg: hsl(0, 0%, 100%);
    --inner-padding: 0 32px;
    --fs-desktop: 24px;
    --fs-mobile: 20px;
    --fs-h1: 32px;
    --fs-h2: 36px;
    --fs-sm: 16px;
}

body {
    margin: 0;
    background-color: var(--body-bg);
    font-family: "Darker Grotesque", sans-serif;
    font-size: var(--fs-mobile);
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

.outer-wrapper {
    max-width: 1120px;
    margin: 0 8px;
    border: var(--2px-black-border);
}

.nav {
    border-bottom: var(--2px-black-border);
    padding: var(--mobile-padding);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo span {
    font-weight: bold;
}

.underline {
    border-top: 4px solid var(--orange);
    position: relative;
    bottom: 5px;
}

.cta {
    border: var(--2px-black-border);
    padding: 5px 20px 10px 20px;
    border-radius: 4px;
    box-shadow: 7px 7px 0 0 #000;
    background-color: var(--orange);
    color: white;
}

.cta a {
    color: var(--black);
    font-weight: bold;
}

nav, .hamburger {
    display: none;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 0 var(--mobile-padding);
    margin-top: 20px;
}

h1 {
    font-size: var(--fs-h1);
}

.hero-row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hero-img img {
    aspect-ratio: auto;
    width: 150px;
}

.hero-row2 {
    display: flex;
    flex-direction: column;
}

.hero-row2 p {
    margin: 10px 0;
}

/* experience */
.experience {
    padding: 0 16px 0 13px;
}

h2 {
    text-align: center;
    margin: 70px 0;
    font-size: var(--fs-h2);
    text-transform: capitalize;
    position: relative;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card {
    background-color: var(--card-bg);
    border: var(--2px-black-border);
    display: flex;
    flex-direction: column;
    padding: var(--mobile-padding);
    box-sizing: border-box;
    box-shadow: var(--10px-box-shadow);
    border-radius: 4px;
    max-width: 660px;
    /* 572*/
    margin: 0 auto;
}

.row1 {
    display: flex;
    justify-content: flex-end;
}

.row2 {
    display: flex;
    flex-direction: column;
}

.row2 p {
    margin: 0;
    font-weight: bold;
}

.role p:last-child {
    font-size: 16px;
}

.location {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.location img {
    height: 17px;
    position: relative;
    top: 3px;
}

/* skills */
.skills {
    padding: var(--mobile-padding)
}

.pill-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pill-row-1, .pill-row-2, .pill-row-3 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pill {
    border: var(--2px-black-border);
    border-radius: 50px;
    box-shadow: var(--10px-box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: 10px 0;
}

.pill p {
    margin: 0;
    font-weight: bold;
}

.pill span {
    font-size: var(--fs-sm);
}

/* contact */
footer {
    margin-bottom: 50px;
}

footer ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: var(--mobile-padding);
    gap: 40px;
    align-items: center;
    justify-content: space-evenly;
}

footer ul li {
    list-style: none;
}

footer img {
    aspect-ratio: 1;
    width: 40px;
}

.copyright {
    padding: var(--mobile-padding);
    font-size: var(--fs-sm);
    border-top: var(--2px-black-border);
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.copyright p {
    margin: 0;
}
.underline-decoration {
    position: absolute;
    top: 85%;
    width: 270px;
    border: 4px solid var(--orange);
    left: 37%;
}