@media screen and (min-width: 360px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 44px;
        margin-bottom: 130px;
    }
}
@media screen and (min-width: 650px) {
    body {
        font-size: var(--fs-desktop);
    }
    .nav, .hero {
        padding: var(--desktop-padding);
    }
    .experience, .skills, footer {
        padding: 0 var(--desktop-padding);
        margin-bottom: 130px;
    }
    .hero {
        margin-top: 40px;
    }
    .hero-row1 {
        margin-bottom: 40px
    }
    .hero-img img{
        width: 250px;
    }
    h1 {
        font-size: 88px;
    }
    h2 {
        font-size: 60px;
    }
}

@media screen and (min-width: 840px) {
    .hero-img img{
        width: 350px;
    }
    nav {
        display: block;
    }
    nav ul {
        display: flex;
        gap: 40px;
    }

    nav ul li {
        list-style: none;
    }
    nav a {
        color: var(--black);
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 2px;
    }

    nav a:hover {
        border-bottom: 4px solid var(--orange);
    }

    h1 {
        font-size: 100px;
    }
    h2 {
        font-size: 80px;
        margin-bottom: 136px;
    }
    .cards-container {
        gap: 100px;
    }
    .card {
        margin:0;
    }
    .card-row1 {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }
    .card-row2 {
        display: flex;
        justify-content: flex-start;
    }

    .pill {
        min-width: 215px;
        max-width: 240px;
    }
    .pill-row-1, .pill-row-3 {
        flex-direction: row;
        justify-content: space-between;
    }
    .pill-row-2{
        flex-direction: row;
        justify-content: center;
    }
    footer ul {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1009px) {

    .outer-wrapper {
        margin: 0 auto;
    }
    .hero-row1 {
        gap: 40px;
    }
    .hero-img img{
        width: 350px;
    }
    h1 {
        font-size: 120px;
    }
    .experience {
        background-image: url("../assets/steps3.png");
        background-repeat: no-repeat;
        background-position: bottom 256px right 276px;
    }
    .cards-container {
        gap: 150px;
    }
    .pill-container {
        padding: 0 152px 0 142px;
        gap: 70px;
    }
}